.home{
  margin-top: 135px;
  width: 95%;
  height: 600px;
  border: 5px solid black;
  padding: 30px; 
  background-color: black;
  background-image: url("http://s1.1zoom.me/big0/24/Chess_Sunrises_and_sunsets_Sun_533071_1280x720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px #888888;
}

.inner {
  margin-top: 100px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: black;
  padding: 20px;
  width: 40%;
  text-align: center;
  opacity: 0.7;
  color: white;
}